* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* body {
    text-align: center;
    background-color: silver;
} */

header {
    display: flex;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 999;
    background: linear-gradient(80deg, rgba(32, 54, 143,0.7) 66%, rgba(32, 54, 143,0.7) 71%, rgba(32, 54, 143,0.7) 78%);
    height:8vh;
    text-align: center;
}

nav {
    margin-left:7.5%;
    width:85%;
    overflow: hidden;
    
}

.nav-links {
    justify-content: space-around;
    list-style-type: none;
    display: flex;
    z-index: 1;

    text-align: center;
    width: 100%;
}

.nav-link {
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: white;
    display:flex;

    height:8vh;
    align-items: center;
}

.nav-social-link {
    align-items: center;
    display: flex;

 
    justify-content: space-between;

}
.nav-social-link img{
    max-width: 80%;
    width:80px;
    margin-bottom:30%;
    display:flex;
    align-items: center;
}

.nav-social-link img:hover{
    opacity: 0.5;
}

.nav-link:hover {
    opacity:0.5;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  

img {
    background: transparent;
    background-color: transparent;
    border: none;

}

/* img:hover {
    opacity: 0.5;
} */


/* .presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height:80vh;
} */


.introduction {
    display:flex;
    width: 100%;
    margin:auto;
    background-color:black;
    bottom:16vh;
}

.intro-text {
    position: absolute;
    bottom: 40%;
    right: 50%;
    left: 50%;
    width:auto;
    background-color: whitesmoke;
    color: white;
    padding-left: auto;
    padding-right: auto;
    
  
}

.intro-text h1{
    font-family: Helvetica;
    font-size: 60px;

    width: 100%;

}

.intro-text p{
    font-family: Helvetica;
    font-size: 25px;
    width:100%;
    flex:2;
    margin-left:2px;


}
.cover {
    position: relative;
    text-align: center;
    color: white;
    max-width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

}

.cover img{
    max-width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
